@use "@styles/colors" as colors;

.project {
    position: relative;
    padding: 8px;
    margin: 24px auto; /* Center the project block itself */
    display: flex; /* Use flexbox to center children */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}

.responsive {
    width: 100%;
    max-width: 90%;
    height: auto;
}

.project-image {
    margin-bottom: 24px;
    //display: block;
    //height: 280px;
    //width: auto;
}

.project-desc {
    //max-width: 360px;
    //width: 360px;
}

.project-heading {
    color: colors.$navy;
}

.content {
    width: 100% !important; /* Make content responsive */
    max-width: 90% !important; /* Limit content width */
    margin: 8px auto; /* Center the content block */
    text-align: center; /* Center text content */
}
