@import "src/styles/colors";

.project{
  position: relative;
  padding: 16px;
  margin: 16px;
}

.project-image{
  display: block;
  height: 280px;
  //width: auto;
}

.project-desc{
  //max-width: 360px;
  //width: 360px;
}

.project-heading{
  color: $navy;
}
