@use "@styles/colors" as colors;

.about-desc {
    max-width: 600px;
    margin: 16px auto;
    justify-content: left;
}

.link {
    color: colors.$navy;
    padding: 0;
}

.link:hover {
    color: colors.$gold;
}
