@use "@styles/colors" as colors;
@use "@styles/variables" as var;

.skill-chip {
    margin: var.$spacing-xxs var.$spacing-xxs;
    background-color: colors.$navy-super-light !important;
}

.skill-chip-primary {
    margin: var.$spacing-xxs var.$spacing-xxs;
    background-color: colors.$navy !important;
    color: rgba(255, 255, 255, 0.85) !important;
}

.skill-chip-secondary {
    margin: var.$spacing-xxs var.$spacing-xxs;
    background-color: colors.$navy-light !important;
}

.skill-chip:hover,
.skill-chip-primary:hover,
.skill-chip-secondary:hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
