@use "@styles/colors" as colors;

.publication-item {
    opacity: 0;
    transform: translateY(50px);
    transition:
        opacity 0.6s ease-out,
        transform 0.6s ease-out;
}

.publication-item-visible {
    opacity: 1;
    transform: translateY(0);
}

.publication {
    position: relative;
    padding: 8px;
    margin: 24px auto; /* Center the publication block itself */
    display: flex; /* Use flexbox to center children */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}

.responsive {
    width: 100%;
    max-width: 90%;
    height: auto;
}

.pub-image {
    margin-bottom: 24px;
    //display: block;
    //height: 280px;
    //width: auto;
}

.content {
    width: 100% !important;
    max-width: 90% !important;
    margin: 8px auto; /* Center the content block */
    text-align: center; /* Center text content */
}

a > h2 {
    color: colors.$navy;
    text-decoration: none;
    cursor: pointer;
}

a > h2:hover {
    color: colors.$gold;
}

.article-title {
    margin-bottom: 0;
}

.publisher {
    margin-top: 0;
}
